@import '../../global.scss';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;

  .prevArrow {
    position: relative;
    padding-left: 20px;

    &::before {
      content: '◀';
      position: absolute;
      left: 0;
      color: var(--primary-color);
    }

    &:hover::before {
      color: var(--hover-color);
    }
  }
  .activeButton {
    width: 50px !important;
    height: 50px !important;
    background-color: var(--primary-color) !important;
  }

  .nextArrow {
    position: relative;
    padding-right: 20px;

    &::after {
      content: '▶';
      position: absolute;
      right: 0;
      color: var(--primary-color);
    }

    &:hover::after {
      color: var(--hover-color);
    }
  }

  .firstArrow {
    position: relative;
    padding-right: 20px;

    &::before {
      content: '⏮';
      position: absolute;
      left: 0;
      color: var(--primary-color);
    }

    &:hover::before {
      color: var(--hover-color);
    }
  }

  .lastArrow {
    position: relative;
    padding-right: 20px;

    &::after {
      content: '⏭';
      position: absolute;
      right: 0;
      color: var(--primary-color);
    }

    &:hover::after {
      color: var(--hover-color);
    }
  }
}
