@import '../../global.scss';

.input {
  padding: var(--spacing-small) var(--spacing-regular);
  border: var(--border-width) solid var(--light-gray);
  border-radius: var(--border-radius);
  font-size: var(--font-size-regular);
  transition:
    border-color var(--animation-duration-fast) ease,
    box-shadow var(--animation-duration-fast) ease;

  &:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }

  &:disabled {
    background-color: var(--background-color-light);
    cursor: not-allowed;
    border-color: var(--light-gray);
  }

  /* Remove arrows for number input */
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
