@import '../styles/global.scss';

.movieDetails {
  text-align: center;
  margin-top: var(--spacing-large);

  h1 {
    font-size: var(--font-size-title);
    color: var(--primary-color);
    margin-bottom: var(--spacing-large);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-large);
    margin-bottom: var(--spacing-extra-large);

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .poster {
    max-width: 300px;
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-regular);
  }

  .info {
    max-width: 500px;
    text-align: left;

    p {
      font-size: var(--font-size-regular);
      margin: var(--spacing-small) 0;

      strong {
        font-weight: bold;
        color: var(--text-color);
      }
    }
  }
}
