@import '../../global.scss';

.searchArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-regular);
  margin-bottom: var(--spacing-large);

  .error {
    color: var(--error-color);
    font-size: 0.9rem;
    margin-top: 4px;
  }
}
