@import '../../global.scss';

.title {
  margin-bottom: var(--spacing-regular);
  text-align: center;

  &.pageTitle {
    font-size: var(--font-size-title);
    font-weight: bold;
    color: var(--primary-color);
  }

  &.subTitle {
    font-size: var(--font-size-subtitle);
    font-weight: normal;
    color: var(--dark-gray);
  }
}
