@import '../../global.scss';

.table-container {
  margin: var(--spacing-large);

  .no-movies {
    text-align: center;
    font-size: var(--font-size-large);
    color: var(--primary-color);
    margin-top: var(--spacing-large);
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: var(--spacing-regular);

    th,
    td {
      border: var(--border-width) solid var(--light-gray);
      padding: var(--spacing-small);
      text-align: left;
    }

    th {
      background-color: var(--background-color);
    }

    tr:nth-child(even) {
      background-color: var(--white);
    }

    tr:hover {
      background-color: var(--background-color-light);
    }

    .clickable-row {
      cursor: pointer;
      transition: background-color var(--animation-duration-fast);

      &:hover {
        background-color: var(--hover-color-light);
      }
    }
  }

  .pagination-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing-small);
  }
}
