@import '../styles/global.scss';

.table-container {
  margin: var(--spacing-large);

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: var(--spacing-regular);

    th,
    td {
      border: var(--border-width) solid var(--light-gray);
      padding: var(--spacing-small);
      text-align: left;
    }

    th {
      background-color: var(--background-color);
    }

    tr:nth-child(even) {
      background-color: lighten(var(--background-color), 10%);
    }

    tr:hover {
      background-color: lighten(var(--background-color), 5%);
    }
  }

  .pagination-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing-small);

    button {
      background-color: var(--primary-color);
      color: white;
      border: none;
      padding: var(--spacing-small) var(--spacing-regular);
      border-radius: var(--border-radius);
      font-size: var(--font-size-regular);
      cursor: pointer;
      transition: background-color var(--animation-duration-fast) ease;

      &:disabled {
        background-color: var(--light-gray);
        cursor: not-allowed;
      }

      &:hover:not(:disabled) {
        background-color: darken(var(--primary-color), 10%);
      }
    }
  }
}
